
      <!-- Begin Page Content -->
      <div th:replace="compartilhado/topo"></div>

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Olá, <span th:text="${nome}"></span> . <br> Logo teremos um Gerenciador de Tarefas incrível aqui!</h1>

        </div>

        </div>
      </div>

      <!-- /.container-fluid -->

      <div th:replace="compartilhado/baixo"></div>


